@media (max-width: 760px) {
  .header {
    max-width: 100%;
    height: 80px;
    justify-content: space-between;
    display: flex;
    text-align: center;
    margin-bottom: 20px;
  }

  .titreHeader {
    padding-top: 5px;
    top: 0;
    text-align: start;
    font-size: 1.6rem;
    font-family: 'Open sans';
    font-weight: 600;
    font-style: normal;
    margin-right: 60px;
  }

  .header-icons {
    display: flex;
    gap: 7px;
    margin-right: 20px;
  }

  .iconH {
    font-size: 1.9rem;
    color: orange;
  }

  .icon2 {
    font-size: 30px;
    margin-right: 10px;
    justify-content: center;
    text-align: center;
    color: orange;
    transition: color 0.9s;
    transform: ease-in-out 7s;
    gap: 20px;
  }

  .icon {
    font-size: 30px;
    color: orange;
    transition: color 0.9s;
    transform: ease-in-out 7s;
    gap: 10px;
  }

  .icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .icon2:hover {
    color: white;
    transform: scale(1.2);
  }

  .Heading {
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
  }

  .titre2 {
    font-size: 0.5rem;
    text-align: center;
    font-family: 'Open sans';
    font-weight: 100;
    font-style: italic;
    color: white;
    text-align: center;
  }

  .description {
    text-align: left;
    margin-right: 20px;
    margin-left: 20px;
    font-family: 'Open sans';
    font-weight: 200;
    color: white;
    text-align: justify;
  }

  .paragraphe {
    font-size: 0.3rem;
    font-style: italic;
    margin-left: 20px;
  }

  .section {
    text-align: center;
    max-width: 100%;
    box-sizing: border-box;
  }

  .imgPortfo {
    padding-top: 30px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
}
