.Heading {
  font-size: 2rem;
  text-align: center;
  font-family: 'Open sans';
  font-weight: 600;
  font-style: normal;
}

.Projects {
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-align: center;
}

.Projects a {
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  margin-right: 20px;
  color: orange;
  text-decoration: none;
  text-align: center;
}
